html {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

input,
textarea,
select,
button {
  outline: none; }

input {
  line-height: normal; }

label,
button {
  cursor: pointer; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-weight: 400;
  background-color: white; }

h2 {
  font-size: 30px;
  color: #002B8E;
  line-height: 40px; }

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Rubik", sans-serif; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

.text {
  color: #21B6FF;
  font-size: 20px;
  font-weight: bold; }

.button {
  display: inline-block;
  padding: 20px 40px;
  background-color: #21B6FF;
  color: #fff;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  white-space: nowrap;
  font-weight: bold; }
  .button:hover {
    background-color: #8493B6; }

.boxed {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

@media screen and (max-width: 1280px) {
  h2 {
    font-size: 20px; } }
@media screen and (max-width: 767px) {
  h2 {
    font-size: 25px; } }
@media screen and (max-width: 767px) {
  .button {
    padding: 10px 20px; } }
@media screen and (max-width: 550px) {
  h2 {
    font-size: 20px; } }
header.wrapper {
  background-color: #002B8E;
  color: #fff; }
  header.wrapper .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0; }
    header.wrapper .header-container .header-left {
      display: flex;
      gap: 30px; }
      header.wrapper .header-container .header-left .header-left__item {
        display: flex;
        gap: 10px; }
    header.wrapper .header-container .header-right {
      display: flex;
      gap: 30px; }
      header.wrapper .header-container .header-right a {
        color: #fff; }
        header.wrapper .header-container .header-right a:hover {
          color: #21B6FF; }

@media screen and (max-width: 767px) {
  .header-left {
    display: none !important; }

  .header-right {
    margin: auto; } }
.navbar-full.wrapper {
  background-color: #fff; }
  .navbar-full.wrapper .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0; }
    .navbar-full.wrapper .navbar-logo img {
      width: 200px; }
    .navbar-full.wrapper .navbar-listmenu {
      display: flex;
      align-items: center;
      gap: 17px; }
      .navbar-full.wrapper .navbar-listmenu__close {
        display: none;
        color: #21B6FF;
        margin-top: 30px;
        font-size: 30px; }
        .navbar-full.wrapper .navbar-listmenu__close i:hover {
          transform: rotate(45deg); }
      .navbar-full.wrapper .navbar-listmenu li {
        list-style: none;
        font-size: 18px; }
        .navbar-full.wrapper .navbar-listmenu li.active, .navbar-full.wrapper .navbar-listmenu li:hover {
          background-color: #21B6FF;
          padding: 10px; }
        .navbar-full.wrapper .navbar-listmenu li a {
          color: black;
          font-weight: bold; }
        .navbar-full.wrapper .navbar-listmenu li i {
          color: black; }
      .navbar-full.wrapper .navbar-listmenu__botton a {
        color: #fff; }
    .navbar-full.wrapper .navbar-toggle {
      color: #21B6FF;
      font-size: 30px;
      z-index: 900;
      display: none; }

@media screen and (max-width: 1280px) {
  .navbar-full.wrapper .navbar-logo img {
    width: 160px; }

  .navbar-full.wrapper .navbar-listmenu li a {
    font-size: 15px; } }
@media screen and (max-width: 1023px) {
  .navbar {
    margin: 0 30px; }
    .navbar-listmenu {
      flex-direction: column;
      align-items: center;
      position: fixed;
      right: 0;
      top: 0;
      width: 40%;
      height: 200vh;
      z-index: 1000;
      background-color: #fff;
      transform: translateX(100%);
      will-change: transform;
      transition: all 0.2s linear; }
      .navbar-listmenu__close {
        display: inline-block !important; }
      .navbar-listmenu.is-show {
        transform: translateX(0); }
      .navbar-listmenu li {
        margin: 20px 0; }
    .navbar-toggle {
      display: inline-block !important; } }
@media screen and (max-width: 767px) {
  .navbar {
    padding: 20px 0 !important; }

  .navbar-full.wrapper .navbar-logo img {
    width: unset; } }
.banner {
  position: relative; }
  .banner img {
    width: 100%;
    object-fit: cover; }
  .banner .banner-caption {
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%); }
    .banner .banner-caption__text {
      margin-bottom: 30px;
      font-size: 20px; }
      .banner .banner-caption__text span {
        color: #21B6FF; }
    .banner .banner-caption__heading {
      margin-bottom: 30px; }
      .banner .banner-caption__heading h2 {
        font-size: 50px;
        color: #fff;
        letter-spacing: 5px;
        line-height: 70px; }
    .banner .banner-caption__group {
      display: flex;
      gap: 50px;
      align-items: center;
      gap: 20px; }
      .banner .banner-caption__group--button a {
        margin-right: 10px;
        color: #fff; }
      .banner .banner-caption__group--play {
        background-color: #21B6FF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        cursor: pointer; }
        .banner .banner-caption__group--play:hover {
          background-color: #8493B6; }

@media screen and (max-width: 1023px) {
  .banner-caption__heading h2 {
    font-size: 40px !important;
    letter-spacing: 3px !important;
    line-height: 50px !important; } }
@media screen and (max-width: 767px) {
  .banner-caption__heading h2 {
    font-size: 30px !important;
    letter-spacing: 2px !important;
    line-height: 30px !important; } }
@media screen and (max-width: 550px) {
  .banner-caption__heading h2 {
    font-size: 20px !important;
    letter-spacing: 1px !important;
    line-height: 20px !important; } }
@media screen and (max-width: 414px) {
  .banner .banner-caption__text {
    margin-bottom: 10px;
    font-size: 15px; }

  .banner .banner-caption__heading {
    margin-bottom: 10px; }

  .banner .banner-caption__group--play {
    width: 40px;
    height: 40px; } }
.partner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #F1F6FB;
  padding: 80px 150px;
  color: #002B8E;
  margin-bottom: 80px; }
  .partner-text {
    max-width: 300px; }
  .partner-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 100px; }
    .partner-list__item h2 {
      max-width: 150px; }

@media screen and (max-width: 1480px) {
  .partner {
    gap: 30px;
    margin-bottom: 30px; } }
@media screen and (max-width: 1023px) {
  .partner {
    flex-direction: column; }
    .partner-text {
      text-align: center;
      max-width: 100%; }
    .partner-list {
      place-items: center;
      grid-template-columns: repeat(2, minmax(0, 1fr)); } }
@media screen and (max-width: 767px) {
  .partner {
    padding: 20px 20px;
    margin-bottom: 50px;
    gap: 50px; }

  .partner-text {
    margin: auto;
    max-width: 70%; }

  .partner-list {
    gap: 55px 150px; } }
@media screen and (max-width: 550px) {
  .partner {
    padding: 20px 20px;
    margin-bottom: 50px;
    gap: 20px; } }
@media screen and (max-width: 480px) {
  .partner {
    padding: 20px 45px;
    margin-bottom: 50px;
    gap: 20px; } }
.feature {
  display: flex;
  gap: 50px; }
  .feature-left {
    flex: 50%; }
    .feature-left img {
      object-fit: cover; }
  .feature-right {
    flex: 50%; }
    .feature-right__text {
      margin: 30px 0; }
    .feature-right__heading {
      color: #002B8E;
      margin-bottom: 30px; }
    .feature-right__content p {
      font-size: 15px;
      margin: 30px 0;
      color: #8493B6;
      line-height: 30px; }
    .feature-right__group {
      display: flex;
      gap: 50px;
      margin-bottom: 10px; }
      .feature-right__group--item {
        margin-bottom: 30px; }
        .feature-right__group--item h2 {
          margin-top: 10px; }
        .feature-right__group--item p {
          color: #8493B6;
          line-height: 30px;
          margin: 20px 0; }
    .feature-right__button {
      max-width: 210px; }
      .feature-right__button a {
        color: #fff;
        margin-right: 10px; }

@media screen and (max-width: 1023px) {
  .feature-right__text {
    margin: 20px 0; }

  .feature-right__heading {
    margin-bottom: 20px; }

  .feature-right__content p {
    margin: 20px 0;
    line-height: 30px; }

  .feature-right__group--item {
    margin-bottom: unset; } }
@media screen and (max-width: 767px) {
  .feature {
    flex-direction: column; }

  .feature-left img {
    margin: auto;
    width: 50%; }

  .feature-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .feature-right__content {
      max-width: 80%;
      text-align: center; }

  .feature-right__group--item {
    text-align: center; }
    .feature-right__group--item img {
      margin: auto; } }
.intro {
  padding: 100px 0; }
  .intro-group {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px; }
    .intro-group__item {
      display: flex;
      gap: 30px; }
      .intro-group__item.p-top {
        padding-top: 20%; }
      .intro-group__item--content h2 {
        color: #21B6FF; }
      .intro-group__item--content p {
        color: #002B8E;
        font-weight: bold; }

@media screen and (max-width: 1023px) {
  .intro-group {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center; }
    .intro-group__item.p-top {
      padding-top: 0; } }
.outservice-full.wrapper {
  background-color: #F1F6FB;
  height: 110vh; }
  .outservice-full.wrapper .outservice-text {
    text-align: center;
    padding-top: 30px; }
  .outservice-full.wrapper .outservice-heading {
    text-align: center;
    width: 100%; }
    .outservice-full.wrapper .outservice-heading h2 {
      max-width: 500px;
      margin: 30px auto; }
  .outservice-full.wrapper .outservice-carousel .slick-prev,
  .outservice-full.wrapper .outservice-carousel .slick-next {
    display: none !important; }
  .outservice-full.wrapper .outservice-carousel .slick-dots {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 15px;
    transform: translateY(50%);
    margin-top: 20px; }
    .outservice-full.wrapper .outservice-carousel .slick-dots button {
      font-size: 0;
      background-color: #fff;
      width: 45px;
      height: 15px;
      border-radius: 100rem;
      border: 1px solid #21B6FF;
      transition: all 0.2s linear; }
    .outservice-full.wrapper .outservice-carousel .slick-dots .slick-active button {
      background-color: #21B6FF;
      width: 45px; }
  .outservice-full.wrapper .outservice-carousel__item {
    position: relative;
    padding: 60px 20px; }
    .outservice-full.wrapper .outservice-carousel__item--image {
      width: 100%; }
    .outservice-full.wrapper .outservice-carousel__item--content {
      position: absolute;
      left: 50%;
      bottom: 4%;
      transform: translateX(-50%);
      width: 70%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 20px; }
      .outservice-full.wrapper .outservice-carousel__item--content-text {
        text-align: center; }
        .outservice-full.wrapper .outservice-carousel__item--content-text p {
          color: black;
          font-weight: bold;
          font-size: 20px; }
      .outservice-full.wrapper .outservice-carousel__item--content-icon {
        background-color: #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(42%);
        border: 1px solid #F1F6FB; }
        .outservice-full.wrapper .outservice-carousel__item--content-icon i {
          color: #21B6FF; }

@media screen and (max-width: 1280px) {
  .outservice-full.wrapper {
    height: 100vh; } }
@media screen and (max-width: 1023px) {
  .outservice-full.wrapper {
    height: 740px; }

  .outservice-carousel__item {
    width: unset; }

  .slick-dots {
    display: none !important; } }
@media screen and (max-width: 767px) {
  .outservice-full.wrapper {
    height: 600px; }

  .outservice-carousel__item {
    padding: 10px 10px 50px 10px !important; }

  .slick-list {
    padding: 20px 50px !important; } }
@media screen and (max-width: 550px) {
  .outservice-full.wrapper {
    height: 500px; }

  .outservice-full.wrapper .outservice-carousel__item--content-text p {
    font-size: 15px; } }
@media screen and (max-width: 480px) {
  .outservice-full.wrapper {
    height: 470px; }

  .subscribe {
    flex-direction: column;
    align-items: center; } }
.subscribe-full.wrapper {
  height: 200px;
  background-image: url(/image/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .subscribe-full.wrapper .subscribe {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .subscribe-full.wrapper .subscribe .subscribe-heading h2 {
      color: #fff;
      max-width: 700px; }
    .subscribe-full.wrapper .subscribe .subscribe-button a {
      color: #fff;
      margin-right: 10px; }

@media screen and (max-width: 1280px) {
  .subscribe-full.wrapper .subscribe .subscribe-heading h2 {
    max-width: 600px; } }
@media screen and (max-width: 1023px) {
  .subscribe-heading {
    max-width: 500px; } }
@media screen and (max-width: 767px) {
  .subscribe-heading {
    max-width: 400px; } }

/*# sourceMappingURL=app.css.map */
